main {
  margin-bottom: clamp(3.5rem, 10vw, 7rem);
}

div.childrenPic {
  background-image: url("../../Images/children_pics/africa-6289451_1920.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
  color: var(--gray);
  display: flex;
  justify-content: center;
  position: relative;
  z-index: -1;
  margin-bottom: clamp(3rem, 10vw, 7rem);
}

div.childrenPic::before {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

div.hero-text {
  position: absolute;
  color: var(--white);
  top: 40%;
  max-width: 56rem;
}

div.hero-text h1 {
  text-align: center;
  font-size: clamp(1.5rem, 5vw, 3rem);
  margin-bottom: 2rem;
  transform: translateX(-30%);
  opacity: 0;
  animation: slidedown 1s ease-in forwards;
}

@keyframes slidedown {
  from {
    transform: translateY(-30%);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

div.hero-text p {
  text-align: center;
  font-size: clamp(1rem, 3vw, 1.5rem);
  margin-bottom: 2rem;
  transform: translateX(-30%);
  opacity: 0;
  animation: slideIn 0.7s ease-in forwards;
  animation-delay: 1s;
}

div.hero-text p.unesco {
  font-style: italic;
  font-size: clamp(1rem, 3vw, 1.5rem);
  color: var(--lightgreen);
  text-align: left;
  margin-left: 3rem;
  font-weight: 700;
  transform: translateX(-30%);
  opacity: 0;
  animation: slideIn 0.5s ease-in forwards;
  animation-delay: 1.7s;
}

@keyframes slideIn {
  0% {
    transform: translateX(-10%);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

div.sec-content {
  display: flex;
  justify-content: center;
  margin-bottom: clamp(3rem, 10vw, 7rem);
}

div.sec-wrapper {
  max-width: 85%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3rem;
  align-items: center;
}

/* div.write-up {
  /* flex: 1; 
} */

div.write-up h2 {
  font-size: clamp(1.3rem, 5vw, 2rem);
  color: var(--black);
}

div.write-up p {
  font-size: clamp(1rem, 3vw, 1.5rem);
  color: var(--textGray);
  text-align: justify;
}

div.write-up p.tgt {
  color: var(--black);
  font-style: italic;
  font-weight: 700;
}

img.little-child {
  height: 100%;
  width: 100%;
  border-radius: 1rem;
  object-fit: cover;
}

div.parent-whyOBM {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: clamp(3rem, 10vw, 7rem);
  padding: 0 1rem;
}

div.whyOBM {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  max-width: 70rem;
}

div.whyOBM h2 {
  font-size: clamp(1.5rem, 5vw, 2rem);
  color: var(--black);
}

div.qhyOBM h3 {
  font-size: clamp(1rem, 5vw, 1.2rem);
}

div.whyOBM p {
  font-size: clamp(1rem, 3vw, 1.5rem);
  color: var(--textGray);
}

div.whyOBM p.quote {
  text-align: justify;
  margin-top: 1rem;
  font-weight: 700;
  font-style: italic;
  color: var(--black);
  font-size: clamp(1rem, 5vw, 1.2rem);
}

div.vision-pic {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 5rem;
}

div.fpic {
  background-image: url("../../Images/children_pics/raw\ image\ children\ photo.jpg");
  height: 25rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}

div.fpic::after {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

div.vision-texts {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  color: var(--gray);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: justify;
}

div.vision-texts h2 {
  font-size: 2rem;
  color: var(--lightgreen);
  margin-bottom: 0.7rem;
  width: fit-content;
  background-color: rgba(26, 32, 44, 0.7);
  padding: 0.4rem 0.7rem;
}

div.vision-texts p {
  font-size: 1.6rem;
  font-weight: 700;
  max-width: 30rem;
}

div.sec-pic {
  background-image: url("../../Images/children_pics/rawpixel\ children\ image.jpg");
  height: 25rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}

div.sec-pic::before {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 166, 0, 0.466);
}

div.com-texts {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.com-texts h2 {
  font-size: 2rem;
  color: var(--black);
  margin-bottom: 0.7rem;
  background-color: #ffa600a9;
  width: fit-content;
  padding: 0.4rem 0.7rem;
}

div.com-texts p {
  font-size: 1.6rem;
  font-weight: 700;
  max-width: 30rem;
  color: rgb(255, 255, 255);
}

@media (max-width: 1020px) {
  div.sec-wrapper {
    grid-template-columns: 1fr;
    row-gap: 2rem;
  }

  div.write-up,
  div.little-child {
    width: 100%;
  }

  div.little-child {
    height: 25rem; /* Adjust as needed*/
  }

  div.vision-pic {
    grid-template-columns: 1fr;
    row-gap: 3rem;
  }

  div.vision-texts h2,
  div.com-texts h2 {
    font-size: clamp(1.3rem, 5vw, 2rem);
    margin-left: 1rem;
  }

  div.vision-texts p,
  div.com-texts p {
    font-size: clamp(0.5rem, 5vw, 1.6rem);
    margin: 0 1rem;
  }
}
