* {
  margin: 0;
  padding: 0;
  font-family: "Lato", "Poppins", var(--font-euclid);
  box-sizing: border-box;
}

html {
  font-family: "Lato", "Poppins", var(--font-euclid);
  /* overflow-x: hidden; */
}

body {
  background: #ffffff;
}
