nav {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 6.5rem;
  align-items: center;
  transition: all ease-in 0.5s;
}

nav.nav-himself {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15), 0 8px 16px rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 128, 0, 0.623);
  z-index: 20;
}

div.nav-wrapper {
  display: flex;
  width: 80vw;
}

a.obt-logo img {
  height: clamp(8rem, 25vw, 15rem);
  width: auto;
}

div.nav-links {
  display: flex;
  margin-left: auto;
  align-items: center;
}

div.nav-links ul {
  display: flex;
  list-style: none;
  gap: clamp(0.3rem, 0.8vw, 1rem);
  font-size: 1.1rem;
  align-items: center;
}

div.nav-links a {
  text-decoration: none;
  color: var(--lightgreen);
  border-radius: 0.5rem;
  padding: 0.5rem clamp(0.3rem, 1vw, 0.7rem);
  font-weight: 700;
  transition: all 0.3s ease;
}

div.nav-links a.gray {
  color: var(--gray);
}

div.nav-links a:hover {
  color: var(--black);
  transform: translateY(0.4rem);
}

div.nav-links a.home {
  background-color: rgba(37, 37, 37, 0.61);
}

nav svg.hamburger-menu {
  height: 2rem;
  width: auto;
  margin-left: auto;
  margin-right: 1rem;
  display: none;
  cursor: pointer;
  transition: all ease 0.3s;
}

nav svg.hamburger-menu path {
  fill: var(--lightgreen);
}

nav svg.hamburger-menu:hover {
  transform: scale(1.1, 1.1);
}

/* nav aside {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 70vw;
  background-color: rgba(255, 255, 255, 0.95);
  z-index: 5;
  display: flex;
  flex-direction: column;
  transform: translateX(-100vw);
  transition: all ease 0.5s;
}

aside div.over-lay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.05);
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

aside div.as-logo {
  display: flex;
  align-items: center;
}

aside div.as-logo img {
  height: 7rem;
}

aside div.as-logo svg {
  height: 1.5rem;
  margin: 0 1rem 0 auto;
  transition: all ease 0.3s;
  cursor: pointer;
}

div.as-logo svg g {
  fill: var(--lightgreen);
}

aside div.as-logo svg:hover {
  transform: scale(1.15, 1.15);
}

aside ul {
  margin-left: 2.5rem;
  margin-top: 3rem;
  list-style: none;
}

aside ul li {
  margin-bottom: 1rem;
}

aside ul a {
  text-decoration: none;
  color: var(--lightgreen);
  font-size: clamp(1.2rem, 3vw, 1.5rem);
  font-weight: 700;
  transition: all ease 0.3s;
  display: inline-block; /* Required for transform to work 
  transform-origin: left center; /* ✅ Add this line 
}

aside ul a:hover {
  color: var(--black);
  transform: scale(1.1, 1.1);
}

aside div.as-footer {
  margin-top: auto;
  padding: 1.2rem 0;
  border-top: solid 1px var(--lightgreen);
  display: flex;
  justify-content: center;
  align-items: center;
}

div.as-footer p {
  color: var(--lightgreen);
  font-size: 0.6rem;
} */

@media (max-width: 1150px) {
  div.nav-links {
    display: none;
  }

  nav svg.hamburger-menu {
    display: flex;
  }
}
